<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huskies Helping Huskies</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <img src="/images/husky.jpg" alt="" />
        <a href="/" class="display-1">
          Huskies Helping Huskies
        </a>
        <nav>
          {{#if loggedIn}}
            <a href="/profile">home</a>
            <a href="/">Posts</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a class="loginStyle" href="/login">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
          <div class="pageDescription">
            <p>
              As Coding Bootcamp students we have many great resources available to us to be successful.
              Resources such as our Instructor, our TAs, tutors, other classmates, as well as countless online
              resources through google and other search engines. We wanted to create another type of site
              that allows for communication from past students to help current students with material from the
              course. Huskies Helping Huskies was created as another resource to give a better understanding
              on what the course material is. You can make posts and comments on posts to give someone a better
              understanding to help them make it through the course.
            </p>
          </div>        
        {{{body}}}
  
      </main>

      <footer class="footer">
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
      
    {{/if}}
<script src="../../preload.js"></script>
  <script src="../../main.js"></script>
  
  </body>

</html>